.main-title {
  margin: 10px 0;
}

#datetime-picker {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: transparent;
}

#datetime-picker:hover,
#datetime-picker:focus {
  border: 1px solid #000;
}

#datetime-picker:active {
  color: #000;
  border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  color: #808080;
}

.timer {
  margin-top: 32px;
  width: 346px;
  display: flex;
  justify-content: space-between;
}

.timer > .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer > .field span:first-child {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.timer > .field span:last-child {
  line-height: 1.5;
  color: #2e2f42;
}
