.form {
  width: 360px;
}

.form label:first-child {
  margin-bottom: 16px;
}

.form label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

input[type='number'] {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  color: #2e2f42;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
}

input[type='number']:hover,
input[type='number']:focus {
  border: 1px solid #000;
}

input[type='number']:active {
  border: 1px solid #4e75ff;
}

fieldset {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 48px;
  border: 1px solid #808080;
  border-radius: 4px;
}

fieldset:hover, 
fieldset:focus {
    border: 1px solid #000;
}

legend {
  margin-left: 28px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form fieldset label {
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  line-height: 1.5;
}

.form input[type='radio'] {
  width: 20px;
  height: 20px;
}

.form button {
  margin-top: 24px;
  width: 100%;
}
